# Dependencies
node_modules/

# Production build
dist/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db